* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}
.header .logo {
  position: relative;
}
@media (min-width: 768px) {
  .header .logo {
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: left;
    text-align: left;
  }
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .logo i {
  background-color: #e2494c;
  color: white;
  padding: 8px;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: none;
}
@media (max-width: 767px) {
  .header .logo i {
    display: block;
  }
}
.header .navbar {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .header .navbar {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .header .navbar {
    display: none;
    border-radius: 0;
  }
}
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767px) {
  .header .navbar li {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
}
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #eee;
}
.header .navbar li a:hover {
  color: #ddd;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: white;
  margin: 40px auto;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .head-with-border h2 {
    max-width: 300px;
  }
}
.head-with-border h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  z-index: -1;
}

.main-button {
  background-color: rgba(226, 73, 76, 0.8);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  max-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.main-button:hover {
  background-color: #e2494c;
}

/* Start Slider */
.slider q {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: Tahoma;
  display: block;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto;
}
@media (max-width: 767px) {
  .slider q {
    width: 100%;
    font-size: 20px;
  }
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9c9c9c;
  border: 3px solid #9c9c9c;
  cursor: pointer;
}
.slider .bullets li.active, .slider .bullets li:hover {
  border: 3px solid #333;
}

/* End Slider */
/* Start Services */
@media (min-width: 768px) {
  .services .services-box {
    float: left;
    width: 33.3333333333%;
  }
  .services .services-box:not(:last-child) {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .services .services-box {
    margin-bottom: 40px;
  }
}
.services .services-box .services-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .services .services-box .services-title {
    display: block;
  }
}
.services .services-box .services-title i {
  font-size: 30px;
}
@media (max-width: 767px) {
  .services .services-box .services-title i {
    margin-bottom: 15px;
  }
}
.services .services-box .services-title h2 {
  color: #666;
  font-size: 30px;
}
.services .services-box p {
  color: #777;
  line-height: 1.5;
}
.services .services-box a {
  color: #e2494c;
  font-size: 30px;
}

/* End Services */
/* Start players */
@media (max-width: 767px) {
  .our-players .players-box {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .our-players .players-box {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  .our-players .players-box {
    width: 33.3333333333%;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .our-players .players-box {
    width: 25%;
  }
}
.our-players .players-box img {
  width: 100%;
}
.our-players .players-box .players-title h2 {
  color: #666;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
}
.our-players .players-box .players-title h2 span {
  font-weight: bold;
}
.our-players .players-box p {
  color: #777;
  line-height: 1.5;
  margin: 0 0 10px;
}
.our-players .players-box a {
  color: #e2494c;
}

/* End Services */
/* Start Lorem */
@media (min-width: 768px) {
  .lorem-ipsum .lorem-box {
    float: left;
    width: 31.3333333333;
  }
  .lorem-ipsum .lorem-box:not(:last-of-type) {
    margin-right: 3%;
  }
}
.lorem-ipsum .lorem-box img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .lorem-ipsum .lorem-box img {
    max-width: 225px;
  }
}
@media (min-width: 992px) {
  .lorem-ipsum .lorem-box img {
    max-width: 294px;
  }
}
@media (min-width: 1200px) {
  .lorem-ipsum .lorem-box img {
    max-width: 357px;
  }
}

/* End Lorem */
.footer {
  background-color: #e2e2e2;
  padding-top: 30px;
  margin-top: 50px;
  overflow: hidden;
}
.footer .gallery, .footer .info, .footer .contact {
  float: left;
}
.footer .gallery {
  width: 50%;
}
@media (max-width: 991px) {
  .footer .gallery {
    width: 100%;
  }
}
.footer .gallery .img-box {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .footer .gallery .img-box {
    display: none;
  }
}
.footer .gallery .img-box img {
  float: left;
  width: 150px;
  height: 100px;
}
.footer .gallery .text {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  width: calc(100% - 180px);
}
@media (max-width: 991px) {
  .footer .gallery .text {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer .gallery .text h4 {
  color: #e2494c;
  margin: 0 0 10px;
}
.footer .gallery .text p {
  color: #888;
  line-height: 1.5;
  margin-top: 0;
}
.footer .info {
  width: 25%;
}
@media (max-width: 991px) {
  .footer .info {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .footer .info {
    width: 100%;
  }
}
.footer .info ul {
  color: #888;
  line-height: 1.8;
}
.footer .info ul li span {
  color: #e2494c;
  font-weight: bold;
}
.footer .info h4 {
  color: #888;
  font-weight: bold;
  margin: 0;
}
.footer .info p {
  color: #888;
  margin-top: 8px;
}
.footer .contact {
  width: 25%;
}
@media (max-width: 991px) {
  .footer .contact {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .footer .contact {
    width: 100%;
  }
}
.footer .contact input[type=text], .footer .contact input[type=email], .footer .contact textarea {
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .footer .contact input[type=submit] {
    margin-bottom: 20px;
  }
}
.footer .section-title {
  color: #777;
  font-weight: normal;
}
.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #c5c5cc;
  overflow: hidden;
}
.footer .copyright .text, .footer .copyright .author {
  float: left;
  width: 50%;
  color: #888;
}
@media (max-width: 767px) {
  .footer .copyright .text, .footer .copyright .author {
    float: none;
    width: 100%;
  }
}
.footer .copyright .author {
  text-align: right;
}
@media (max-width: 767px) {
  .footer .copyright .author {
    text-align: center;
    margin-top: 10px;
  }
}/*# sourceMappingURL=homepage.css.map */