@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: right;
    text-align: right;
  }
}
.header .logo .the-toggler {
  right: auto;
  left: 0;
}
.header .navbar {
  float: right;
}
.header .navbar li {
  float: right;
}
@media (max-width: 767px) {
  .header .navbar li {
    text-align: right;
  }
}

/* Start Services */
@media (min-width: 768px) {
  .services .services-box {
    float: right;
  }
}

/* End Services */
/* Start players */
@media (min-width: 768px) {
  .our-players .players-box {
    float: right;
  }
}
@media (min-width: 992px) {
  .our-players .players-box {
    text-align: right;
  }
}

/* End Services */
/* Start Lorem */
@media (min-width: 768px) {
  .lorem-ipsum .lorem-box {
    float: right;
  }
}

/* End Lorem */
.footer .gallery, .footer .info, .footer .contact {
  float: right;
}
.footer .gallery .img-box img {
  float: right;
}
.footer .gallery .text {
  float: right;
}
.footer .copyright .text, .footer .copyright .author {
  float: right;
}
.footer .copyright .author {
  text-align: left;
}
@media (max-width: 767px) {
  .footer .copyright .author {
    text-align: center;
  }
}