$maxMobile: 767px;
$maxSmall: 991px;
$minSmall: 768px;
$minMedium: 992px;
$minLarge: 1200px;

$redColor: #e2494c;
$greyColor: #9c9c9c;

$floatLeft: left;
$floatRight: right;

$text-left: left;
$text-right: right;