// Import Mixins
@use "../helpers/mixins" as *;
// Import Variables
@use "../helpers/variables" as *;

* {
    @include prefixer(box-sizing, border-box, webkit, moz);
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media (min-width: #{$minSmall}) {
        width: 750px;
    }
    @media (min-width: #{$minMedium}){
        width: 970px;
    }
    @media (min-width: #{$minLarge}) {
        width: 1170px;
    }
}
.clearfix {
    clear: both;
}

.text-center-xs {
    @media (max-width: $maxMobile) {
        text-align: center;
    }
}